<h1 class="text-danger text-center">Ви не маєте доступу до цієї сторінки 😐</h1>
<div style="width: 70%; margin: 0 auto;">
    <div style="height: 0; padding-bottom: 56.25%; position: relative;">
        <iframe allowfullscreen="" frameborder="0" height="100%" src="https://giphy.com/embed/BZMggpshzrPvbfQHIF/video" style="left: 0; position: absolute; top: 0;" width="100%"></iframe>
    </div>
</div>
