@model Payments

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-primary py-2">Перегляд Платежу</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<form method="post" class="row" enctype="multipart/form-data">
			<input asp-for="ID" hidden />
			<div class="row">
				<div class="col-12">
					<div class="border p-3">
						<div class="form-floating py-2 col-12">
							<input asp-for="ID" disabled class="form-control border-4 shadow" />
							<label asp-for="ID" class="ms-2"></label>
							<span asp-validation-for="ID" class="text-danger"></span>
						</div>
						<div class="form-floating py-2 col-12">
							<input asp-for="Sum" disabled class="form-control border-4 shadow " />
							<label asp-for="Sum" class="ms-2"></label>
							<span asp-validation-for="Sum" class="text-danger"></span>
						</div>
						<div class="form-floating py-2 col-12">
							<input asp-for="Type" disabled class="form-control border-4 shadow" />
							<label asp-for="Type" class="ms-2"></label>
							<span asp-validation-for="Type" class="text-danger"></span>
						</div>
						<div class="form-floating py-2 col-12">
							<input asp-for="DateOfMakingPayments" disabled class="form-control border-4 shadow" />
							<label asp-for="DateOfMakingPayments" class="ms-2"></label>
							<span asp-validation-for="DateOfMakingPayments" class="text-danger"></span>
						</div>
						
						<div class="form-floating py-2 col-12">
							<textarea disabled asp-for="Description" rows="4" cols="100" class="form-control border-4 shadow"></textarea>
							<label asp-for="Description" class="ms-2"></label>
							<span asp-validation-for="Description" class="text-danger"></span>
						</div>
						<div class="row pt-2">
							<a asp-controller="Payments" asp-action="Index" class="btn btn-outline-dark mt-3 form-control">Назад до списку</a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>