
<partial name="_Notifications" />
<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-black py-2">Список оперцій</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<table id="tblData" class="table table-bordered table-striped" style="width:100%">
			<thead>
				<tr>
					<th style="color: gray; text-align:center">ID</th>
					<th style="color: gray; text-align:center">Статус</th>
					<th style="color: gray; text-align:center">Валюта</th>
					<th style="color: gray; text-align:center">Клієнт</th>
					<th style="color: gray; text-align:center">Зміни</th>
				</tr>
			</thead>
			<tbody style="text-align:center">
			</tbody>
		</table>
	</div>
</div>

@section Scripts {
	<script src="~/js/purchase.js"></script>
}

